# .github/workflows/E-acelera.yml

name: E-acelera

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types:
      [
        opened,
        reopened,
        edited,
        synchronize,
        labeled,
        unlabeled,
        assigned,
        unassigned,
        review_requested,
        review_request_removed,
        ready_for_review,
        closed,
      ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      GIT_ID: ${{ secrets.GIT_ID }}
      GIT_SECRET: ${{ secrets.GIT_SECRET }}
      GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
      GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
      FACEBOOK_CLIENT_ID: ${{ secrets.FACEBOOK_CLIENT_ID }}
      FACEBOOK_CLIENT_SECRET: ${{ secrets.FACEBOOK_CLIENT_SECRET }}
      LINKEDIN_CLIENT_ID: ${{ secrets.LINKEDIN_CLIENT_ID }}
      LINKEDIN_CLIENT_SECRET: ${{ secrets.LINKEDIN_CLIENT_SECRET }}
      NEXTAUTH_URL: ${{ secrets.NEXTAUTH_URL }}
      NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Display Node.js version
        run: node -v

      - name: Display npm version
        run: npm -v

      - name: Install dependencies
        run: npm install

      - name: Check Environment Variables
        run: |
          echo "Checking environment variables..."
          node checkEnv.js

      - name: Build
        run: npm run build

      - name: Lint
        run: npm run lint
